.templateContainer {
	width: 980px;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 25px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
}

.templateH1 {
	text-align: center;
	font-size: 40px;
}

.templateH2 {
	font-size: 20px;
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

.templateH3 {
	font-size: 18px;
	text-decoration: underline;
}

p, li {
	font-size: 14px;
	font-family: "Arial";
}

ul {
	padding :0;
}

.tags {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background-color: silver;
	color: dimgray;
	padding: 5px 10px;
	list-style: none;
}

.tags + .tags {
	margin-left: 15px;
}

.md-text{
	width: auto !important;
}


/* card to create an record */

.demo-card-event.mdl-card {
  width: 256px;
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.demo-card-event.mdl-card{
	width: 100%;
	display: flex;
}

.newBox .mdl-textfield{
	display: block ;
}

.newBox .labelField{
	width: 150px;
}

.form_container{
	width: 50vw;
	margin-bottom: 30px;
}

.form_wrapper{
	display: flex;
}

.form_container .mdl-card__title{
	color: white;
	font-size: 1em;
}

.bg-blue{
	background-color: #536DFE !important;
}

.bg-blue-dark{
	background-color: #0D47A1 !important;
}

.space-top{
	margin-top: 50px;
}

#addFieldMission, #addFieldTechno, #addFieldOutil, #addFieldKey{
	margin: 0 auto;
	display: block;
	position: relative;
	left: 45px;
}

.ttarea{
	border-left: 1px solid white !important;
	border-right: 1px solid white !important;
}

.centerButton{
	margin: 30px auto !important;
	display: block !important;
	width: 200px !important;
}

.material-icons{
	color: white;
}

.close_but{
	right: 0;
}

.mdl-textfield__label{
	 overflow: inherit !important;
	white-space: normal !important;
}

#app{
	min-height: 100vh;
}
